@model EditMovieVM
@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="~/css/accordion.css">

<form class="w-40" asp-action="Create" method="post" enctype="multipart/form-data">
    <h2 class="pb-10">Create Movie</h2>

    <div class="input-container">
        <label asp-for="Title" class="w-40">Movie Title</label>
        <input type="text" class="input" asp-for="Title">
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="Title"></span>
    </div>


    <div class="input-container">
        <label asp-for="ReleaseYear" class="w-40">ReleaseYear</label>
        <input type="number" class="input" asp-for="ReleaseYear">
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="ReleaseYear"></span>
    </div>


    <div class="input-container">
        <label asp-for="File" class="w-40">Poster </label>
        <label class="input" id="file-label" for="upload-photo">Browse images...</label>
        <input type="file" id="upload-photo"  accept="image/*" name="File" asp-for="File">
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="File"></span>
    </div>


    @* Geres accordion *@
    <button type="button" class="accordion" style="margin-top: 10px; font-size: 20px; font-family: Spectral, serif;"><strong>Add Genres</strong></button>
    <div class="panel">
        @if (Model.Genres is not null)
        {
            @for (var i = 0; i < Model.Genres.Count; i++)
            {
                string genreId = "genre" + Model.Genres[i].ItemId;
                <input type="hidden" asp-for="@Model.Genres[i].ItemId" />
                <input type="hidden" asp-for="@Model.Genres[i].ItemName"/>
                <label asp-for="@Model.Genres[i].IsSelected" id="@genreId">
                    <input type="checkbox" asp-for="@Model.Genres[i].IsSelected">  @Model.Genres[i].ItemName
                </label>
            }
        }
        else { <p>No Genre here...</p> }
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="Genres"></span>
    </div>

    @* Members accordion *@
    <button type="button" class="accordion" style="margin-top: 10px; font-size: 20px; font-family: Spectral, serif;"><strong>Add Members</strong></button>
    <div class="panel">
        @if (Model.Members is not null)
        {
            @for (var i = 0; i < Model.Members.Count; i++)
            {
                string memberId = "member" + Model.Members[i].ItemId;
                <input type="hidden" asp-for="@Model.Members[i].ItemId" />
                <input type="hidden" asp-for="@Model.Members[i].ItemName" />
                <input type="hidden" asp-for="@Model.Members[i].ItemImage" />
                <label asp-for="@Model.Members[i].IsSelected" style="margin: 3% 0;" id="@memberId">
                    <input type="checkbox" asp-for="@Model.Members[i].IsSelected"> 
                    <img src="~/Images/@Model.Members[i].ItemImage" style="width:30px; border-radius: 30%; margin: 0 5%;"> 
                    @Model.Members[i].ItemName
                </label>
            }
        }
        else { <p>No Member here...</p> }
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="Members"></span>
    </div>

    @if (ViewBag.errorMessage is not null)
    {
        <div class="alert mb-1">
            @ViewBag.errorMessage
        </div>
    }

    <div class="input-container">
        <button class="btn btn-default" type="submit">Save</button>
    </div>
</form>

<script src="~/js/accordion.js"></script>
<script src="~/js/signalr.js"></script>
<script src="~/js/genre.js"></script>
<script src="~/js/member.js"></script>