@model PagedList<Movie>

@{
    ViewData["Title"] = "Index";
    TempData["term"] = TempData["term"] is null ? "": TempData["term"];
}

<section class="search-bar">
    <form method="get" asp-action="Index">
        <input type="text" name="term" placeholder="search here">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</section>

<div class="container">

    <div class="tbl-container">
        <h2>Movies</h2>

        <div>
            <a href="/Movies/Create" class="btn btn-default"><i class="fa fa-plus"> Add Movie</i></a>
        </div>

        <table id="tblMovies">
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Release year</th>
                <th>Genres</th>
                <th>Members</th>
            </tr>
            @foreach(var movie in Model){
            <tr id="@movie.MovieId">
                <td>
                    <img src="~/Images/@movie.Poster" class="rounded-circle" style="width:40px">
                    </td>
                <td>@movie.Title</td>
                <td>@movie.ReleaseYear</td>
                <td>
                    @if(movie.Genres is not null){
                        int i = 0;
                        foreach (var genre in movie.Genres)
                        {
                            <span>@genre.Genre?.GenreName</span>
                            if(i < movie.Genres.Count - 1 && i < 2) {
                                <span>, </span>
                            }
                            if(i == 2) break; ++i;
                        }
                    }
                </td>
                <td>
                    @if(movie.Members is not null){
                        int i = 0;
                        foreach (var genre in movie.Members)
                        {
                            <span>@genre.Member?.MemberName  </span>
                            if(i < movie.Members.Count - 1 && i < 2) {
                                <span>, </span>
                            }
                            if(i == 2) break; ++i;
                        }
                    }
                </td>
                <td>
                    <a href="/Movies/Detail?id=@movie.MovieId" class="btn btn-sec"><i class="fa fa-eye"></i></a>
                    <a href="/Movies/Edit?id=@movie.MovieId" class="btn btn-default"><i class="fa fa-edit"></i></a>
                    <a onclick="return window.confirm('Are you sure?')" href="/Movies/Delete?id=@movie.MovieId" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
            }
        
        </table>
        <div class="input-container">
            @if(TempData["term"]!.ToString() != ""){
                <a href="/Movies/Index" class="btn btn-default">Show All</a>
            }
            <a href="/Home/Index" class="btn btn-sec">Back</a>
        </div>
    </div>
</div>

<div class="pagination">
    @for(int i=1;i<=Model.TotalPages;i++){
        if(i==Model.CurrentPage){
            <a href="/Movies/Index?currentPage=@i&term=@TempData["term"]" class="active">@i</a>
        }
        else{
            <a href="/Movies/Index?currentPage=@i&term=@TempData["term"]">@i</a>

        }
    }
</div>

<script src="~/js/signalr.js"></script>
<script src="~/js/movie.js"></script>